#banner{
    height: 270px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    border-radius: 20px;
    background-color: #D2062D;
}

#bannerImage{
    height: 80%;
    width: 80%;
    object-fit: contain;
}

