#root{
    display: flex;
    width: 100%;
    justify-content: center;
}
#finalMessage{
    width: 60%;
    min-width: 200px;
    min-height: 200px;
    padding: 10px;
    background-color: aliceblue;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: #f4bd2a;
}

#success{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
#uniId{
    color: #D2042D;
}